@tailwind base;
@tailwind components;
@tailwind utilities;


.border-gradient-br-green-blue-purple {
  background: linear-gradient(to right, #18181B, #30B8E1),
    linear-gradient(to bottom right, #60A5FA, #4ADE80);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.border-gradient-br-fuchsia {
  background: linear-gradient(to right, rgb(244 63 94), rgb(192 38 211)),
    linear-gradient(to bottom right, rgb(232 121 249), rgb(192 38 211));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.border-gradient-br-rose {
  background: linear-gradient(to right, rgb(232 121 249), rgb(253 164 175)),
    linear-gradient(to bottom right, rgb(244 63 94), rgb(253 164 175));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.hover\:border-gradient-tl-blue-green-gray-900:hover {
  background: linear-gradient(to right, #03FDD2, #03FDD2),
    linear-gradient(to top left, #8443FF, #8443FF);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.gradient-border-10 {
  border: 10px solid transparent;
}

.gradient-border-3 {
  border: 3px solid transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: SFRounded,ui-rounded,SF Pro Rounded,system-ui,Helvetica Neue,Arial,Helvetica;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
